<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog! </h1>
        </div>
    </div>
    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit culpa veniam iusto aspernatur sunt perspiciatis rem placeat quas aliquid veritatis, repellat, facilis fugiat cumque necessitatibus? Fuga soluta quos optio odit? Lorem, ipsum dolor
                sit amet consectetur adipisicing elit. Sit maxime corrupti praesentium dolor sapiente debitis, laborum dicta dolorem tenetur autem quos eveniet quo. Expedita aliquid dolore ab tenetur? Obcaecati, nesciunt? Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Sint magni corporis cupiditate voluptatem, fugit blanditiis molestiae incidunt vitae expedita recusandae aperiam nostrum minus ab. Odio fuga ipsa aspernatur repellat facere. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Consectetur iusto repudiandae cumque rerum porro quos temporibus nobis a, odio distinctio veniam accusamus aperiam, vel ipsa labore facere neque sequi placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                minima dolorem nostrum ducimus commodi numquam consectetur, fugit magnam deserunt deleniti veritatis. Fugiat accusamus veniam officia voluptatum commodi! Provident, dolore unde?</p>
        </div>
    </div>
</div>

<div class="parallax"></div>
<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o Feed</button>
    </div>
</div>