.parallax {
    background-image: url(https://images.hdqwalls.com/wallpapers/to-the-sky-qu.jpg);
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}