<div class="card border-0 " style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://i.pinimg.com/originals/4b/bc/7f/4bbc7f4ab75f3a1d393bd0c79b1cf6f2.jpg" alt="Imagem de capa do card">
    </div>

    <div class="card-body">
        <h5 class="card-title text-center text-monospace">{{nome}}</h5>
        <p class="card-text text-center text-monospace">Fiz esse blog para falar um pouco sobre os dramas atuais e poder interagir com vocês que gostam também</p>

        <a href="https://www.linkedin.com" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>
        <a href="https://github.com/" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
</div>